html, body {
  height: 100%;
}

.main {
  height: 100vh;
  display: flex;
}

.full-height-container {
  flex: 1;
  display: flex;
}

#left-panel {
  overflow-y: scroll;
  flex: 1;
  margin-left: 15px;
}

#trips-list,#sliders {
  margin-left: 15px;
}

