$light-grey:          #BDBDBD;
$grey:                #757575;
$white:               #ffffff;

$yellow:  #FFB300;
$red:     #D84315;

// Icons colors:
$snow-color:          #B3E5FC;
$rain-color:          #0288D1;
$cloudy-color:        #01579B;
$cloud-sunny-color:   #FFF59D;
$sunny-color:         #FFB300;