<template name="Main">
  {{> Header }}

  <div class="main">
    <div class="full-height-container row">
        
        <div id="left-panel" class="col-xs-12 col-md-7">
              <div class="row">
              <div id="sliders" class="col-xs-6">
                {{> Sliders }}
              </div>
              </div>
              
              <div class="row">
              <div id="trips-list">
                {{> Trips }}
              </div>
              </div>
          
        </div>

        <div id="map-panel" class="col-xs-12 col-md-5">
          {{> Map }}
        </div>

    </div>
  </div>

  
</template>