<template name="tripItem">

  <div class="col-xs-6 col-sm-6 city">
    
    <div class="row">
    <div class="col-xs-12">   
      <div class="trip">

        <div class="city-weather">
        <div class="city-weather-wrapper">
          <i class="{{weather.weatherIcon}}"></i>
          <span>{{temperature}}&deg;C</span>
          <span class="city-name">{{name}}</span>
        </div>
        </div>

        <img src="{{image}}">

  
        <div class="row">
        <div class="col-xs-12 city-bg-price">
            <div class="city-black-bg"></div>
        </div>  
        </div>    

        <div class="city-price">
          <p>Weekend for</p>
          <span>£{{totalPriceFormatted}} pp</span>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="col-xs-12 trip-description">

      <h5>Departure <span>{{departureDate}}</span></h5>
      <h5>Return <span>{{returnDate}}</span></h5>
      <h5>Flight <span>£{{flightPrice}}</span></h5>
      <h5>{{hotel.name}}, {{StarRating}} stars</h5>
      <h5>£{{hotelPrice}} for 2 nights</h5>

    </div>
    </div>

  </div> 
</template>